[submodule "hive_blinkdb"]
	path = hive_blinkdb
	url = https://github.com/sameeragarwal/hive_blinkdb
[submodule "hive_blinkdb_0.1"]
	path = hive_blinkdb_0.1
	url = https://github.com/sameeragarwal/hive_blinkdb
