target/
build/
metastore_db/
project/boot
TempStatsStore

# Compiled Source
*.class

# Packages
#*.jar

# Log Files
*.log

# emacs backup
*~

# mac os file
*.DS_Store

# latex files
paper.pdf
paper.blg
paper.bbl
paper.aux
